.stage-cube-cont{
    width:50%;
    height: 100%;
    top: 0;
    padding-top: 15%;
    margin-left:0;
    position:absolute;
    right:0;
    overflow: hidden;
}

.cubespinner {
    animation-name: spincube2;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 13s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
    div {
      position: absolute;
      width: 300px;
      height: 300px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
      overflow: visible!important;
    }
  
    .face1 {
        transform:translateZ(150px);
    }
    .face2 {
        transform: rotateY(90deg) translateZ(150px);
    }
    .face3 {
        transform: rotateY(-90deg) translateZ(150px);
    }
    .face4 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
    }
    .face5 {
        transform: rotateY(90deg) rotateX(-90deg) rotateZ(180deg) translateZ(150px);
    }
    .face6 {
        transform: rotateY(180deg)  translateZ(150px);
    }
  }

  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }

  @keyframes spincube2 {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    13% {
      transform: rotateY(-90deg);
    }
    27% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    45% {
      transform: rotateX(90deg) rotateY(90deg);
    }
    60%{
      transform: rotateY(90deg);
    }
    77%{
      transform: rotateX(-90deg) rotateY(270deg);
    }
  }
  @keyframes spincube3 {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16%{
      transform: rotateY(-90deg);
    }
    33%{
      transform:  rotateZ(90deg);
    }
  }


  @media screen and (max-width: 1100px) {

    .about-page{
        .text-zone{
            left:15%;

            h1{
              font-size: 43px;
            }

            p{
              font-size: 14px;
            }
        }
    }
}
@media screen and (max-width: 1100px) {

  .about-page{
      .text-zone{
          h1{
            font-size: 33px;
          }

          p{
            font-size: 12px;
          }
      }
  }
  .stage-cube-cont{
    padding-top:30%;
    .cubespinner{

      div{
        height:200px;
        width:200px;
        font-size:100px;
      }
    .face1 {
        transform:translateZ(100px);
    }
    .face2 {
        transform: rotateY(90deg) translateZ(100px);
    }
    .face3 {
        transform: rotateY(-90deg) translateZ(100px);
    }
    .face4 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .face5 {
        transform: rotateY(90deg) rotateX(-90deg) rotateZ(180deg) translateZ(100px);
    }
    .face6 {
        transform: rotateY(180deg)  translateZ(100px);
    }
    }
  }
}
@media screen and (max-width: 900px) {

  .about-page{
      .text-zone{
         top:70%;
         width:70%;
         left:30%;
          h1{
            font-size: 35px;
          }

          p{
            font-size: 12px;
          }
      }
  }
  .stage-cube-cont{
    width:100%;
    height: 100%;
    top: 0;
    padding-top: 15%;
    .cubespinner{

      div{
        height:150px;
        width:150px;
        font-size:75px;
      }
    .face1 {
        transform:translateZ(75px);
    }
    .face2 {
        transform: rotateY(90deg) translateZ(75px);
    }
    .face3 {
        transform: rotateY(-90deg) translateZ(75px);
    }
    .face4 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(75px);
    }
    .face5 {
        transform: rotateY(90deg) rotateX(-90deg) rotateZ(180deg) translateZ(75px);
    }
    .face6 {
        transform: rotateY(180deg)  translateZ(75px);
    }
    }

}
}